<!DOCTYPE html>
<html ng-app="myApp">
    <head>
    </head>
    <script src='@routes.Assets.versioned("lib/angularjs/angular.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/controllers.js")' type="text/javascript"></script>
    <body>
    <div ng-controller="MyController">
        <form novalidate class="simple-form">
            loginId: <input type="text" ng-model="loginId" /><br />
            <input type="submit" ng-click="update(loginId)" value="Save" />
        </form>
        <pre>loginId = </pre><pre>{{ loginId }}</pre>
        <pre>status = </pre><pre>{{ status }}</pre>
    </div>
    </body>
</html>